.descriptionbox{
    margin: 100px 80px;
}
.descriptionboxNavigator{
    display: flex;
}
.descriptionboxNavBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.descriptionboxNavBox.fade{
    background: #fbfbfb;
    color: #555;
}
.descriptionboxDescription{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
    
}