.container {
    /* width: var(--section-width);
    height: var(--section-height); */
    padding-inline: 25px;
    background-color: var(--mantine-color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image {
    width: 100%;
    height: 100%;
}

.ctaText:hover{
    text-decoration: underline;
}